NODE_ENV="development"
CORS_ORIGIN="http://localhost:3000"

CSRF_SECRET="change-me-to-a-random-secret"

DATABASE_DIRECT_URL=""
DATABASE_URL=""

SUPABASE_URL=""
SUPABASE_JWT_SECRET=""
SUPABASE_SERVICE_ROLE_KEY=""
